.User {
  display: flex;
  min-width: 60em;
}

.Email {
  color: #3498db;
  min-width: 16em;
}

.StatusButton {
  height: 50%;
  align-self: center;
}

.ViewProfileButton {
  height: 50%;
  align-self: center;
  margin-left: 11em;
}

.TransactionsButton {
  height: 50%;
  align-self: center;
  margin-left: 8em;
}
