.Transaction {
  display: flex;
  min-width: 40em;
  }

  .Sender {
    margin-left: 0em;
    width: 14.3em;
  }
  
  .Receiver{
    margin-left: 1em;
    width: 15em;

  }

  .Amount {
    margin-left: 1em;
    width: 6em;
  }

  .Date {
    margin-left: 8em;
  }


