.Register {
  display: flex;
  max-height: 100%;
  align-items: center;
  flex-direction: column;
}

.RegisterTitle {
  color: aliceblue;
  margin-top: 5em;
  margin-bottom: 1.5em;
}

.RegisterCredentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30%;
  min-width: 100%;
}
