.Register {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 30%;
}

.RegisterCredentials {
  display: flex;
  flex-direction: column;
  height: 20em;
  justify-content: space-around;
}
