form {
    display: flex;
    flex-flow: column;
    row-gap: 2vh;
}

.Login {
    display: flex;
    flex-flow: column;
    row-gap: 7vh;
    position: relative;
    top: -20vh;
}

.EmailLogin, .PasswordLogin {
    display: flex;
    column-gap: 1%;
}

input {
    border-width: 1px 1px;
    border-color: grey;
    border-radius: 8px;
    height: auto;
    width: 40%;
    position: relative;
}

label {
    color: #448cdd;
    font-weight: bold;
}

.EmailLogin > label {
    position: relative;
    left: 14.6%;
}

.PasswordLogin > label {
    position: relative;
    left: 6%;
}

.EmailLogin > input {
    left: 16.6%
}

.PasswordLogin > input {
    left: 7.8%;
}

/* This enables the bluish outline that you 
see when you click on the input*/
input:focus {
    box-shadow: 0 0 0 3px rgb(64, 147, 241);    
    outline: none;
}
