.CourseList {
  display: flex;
  flex-direction: column;
  margin: 1em 0 1em 0;
}

.CourseRole {
  font-size: 1.2em;
  color: #3498db;
  margin: 0 0 0 0.5em;
}

.UserCoursesList {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  color: white;
}
