.UserMetrics {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
  margin-top: 5em;
}

.MetricInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UserMetricLine {
  flex: 1;
  border-bottom: 2px dotted white;
  align-self: center;
}

.MetricText {
  font-size: 20px;
  margin-right: 2%;
}

.MetricAmount {
  font-size: 20px;
  margin-left: 2%;
}

.UserMetricTitle{
  padding-bottom: 0.5em;
  border-bottom: 0.05em solid white;
}