.UserMetrics {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2em;
  margin-left: 10em;
  color: white;
  width: 60em;
}

.MetricInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MetricText {
  font-size:150%;
}

.MetricAmount {
  font-size:150%;
}

.UserMetricTitle{
  padding-bottom: 0.5em;
  border-bottom: 0.05em solid white;
}